{% extends "base.html" %}

{% block content %}

<div class="panel panel-default">
    <div class="panel-body">
        <button><a href="{% url 'myapp:day' prev_day.0 prev_day.1 prev_day.2 %}">{{ prev_day_s }}</a></button>
        <button><a href="{% url 'myapp:day' next_day.0 next_day.1 next_day.2 %}">{{ next_day_s }}</a></button>
    </div>
</div>

<form method="POST" >
  {% csrf_token %}

  {{ form.as_ul }}


  <button type="submit" name="add" class="btn btn-xs btn-danger pull-right" >
    <span class="glyphicon glyphicon-remove" ></span >
  </button >
</form >


<div class="row" >
  <table class="table table-striped" >
    <thead >
    <tr >
      <th class="col-xs-2" ></th >
      <th class="col-xs-2" ></th >
      <th class="col-xs-6" ></th >
      <th class="col-xs-1" ></th >
    </tr >
    </thead >

    <tbody >
    {% for entry in object_list %}
    <tr >
      <td >{{ entry.start|date:'H:i' }} - {{ entry.stop|date:'H:i' }}</td >
      <td >{{ entry.task }}</td >
      <td >
        <form method="POST" >{% csrf_token %}
          <button type="submit" name="delete" id="delete" value="{{ entry.id }}"
                  class="btn btn-xs btn-danger pull-right" >
            <span class="glyphicon glyphicon-remove" ></span >
          </button >
        </form >
      </td >
    </tr >
    {% endfor %}
    </tbody >
  </table >
</div >


{% endblock %}
